/* Target the root element and define custome properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color:var(--color-black);
}

/* Revisist the section tagline and card category declaration amd resent their color to color-primary */
.section-tagline,
.card-category {
    color: var(--color-primary);
}

/* Revisit the body and anchor declarations and resent their color to text colour */
body {
    color: var(--color-primary);
}

/* Revisit the body and anchor declaratiosn and reset their colour  to text colour */
body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}